.experiencia_card{
    margin: 1.5rem 0;
    border-radius: 30px;
}

.experiencia_card:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.experiencia_card:nth-child(odd){
    display: flex;
    justify-content: space-between;
}

.card_img{
    width: 70%;
    height: 25rem;
    box-shadow: 0 0 40px 1px #999;
    border-radius: 30px;
}

.card_img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.card_detalle{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia_card_titulo{
    margin: 1rem 0;
    text-align: center;
    line-height: 2rem;
}

.experiencia_card_parrafo{
    margin: 1rem 0;
    text-align: center;
    letter-spacing: .1rem;
}

.experiencia_card_btn{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.experiencia_btn{
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
}

.experiencia_btn a{
    text-decoration: none;
}

.repositorio{
    border: 1px solid var(--color-letras-azul);
}

.repositorio a{
    color: var(--color-letras-azul);
}

.demo{
    background-color: var(--color-letras-azul);
    border: none;
}

.demo a{
    color:#fff
}


/* Responsividad */

@media only screen and (max-width: 600px){
    .experiencia{
        padding: 0 1rem;
    }

    .experiencia_card{
        display: flex;
        flex-direction: column;
    }

    .experiencia_card:nth-child(even){
        display: flex;
        flex-direction: column;
    }
    .experiencia_card:nth-child(odd){
        display: flex;
        flex-direction: column;
    }
    

    .experiencia_titulo{
        margin: 2rem 0 ;
        text-align: center;
    }

    .card_img{
        width: 100%;
        height: 70%;
    }

    .card_detalle{
        width: 100%;
    }

    .experiencia_card_titulo{
        font-size: .9rem;
    }

    .experiencia_card_parrafo{
        margin: .5rem 0;
    }

    .experiencia_btn{
        width: 5rem;
        height: 2rem;
        border-radius: 10px;
    }


}


@media only screen and (max-width: 1025px){
    .experiencia{
        padding: 0 2rem;
    }
    .experiencia_card{
        display: flex;
        flex-direction: column;
    }
    .card_img{
        width: 100%;
        height: 70%;
    }

    .card_detalle{
        width: 100%;
    }

    

}