.sobre_mi{
    width: 100%;
    height: auto;
    padding: 2rem 7rem;
    background-color: var(--fondo-azul);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 40px 1px #999;
}
.sobre_mi__div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.sobre_mi__titulo{
    color: var(--color-letras);
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sobre_mi__parrafo{
    color: var(--color-letras);
    font-size: 1rem;
    text-align: justify;
    letter-spacing: .2rem;
}


/* Responsividad */

@media only screen and (max-width: 768px){
    .sobre_mi{
        height: auto;
        padding: 1rem 1rem;
        justify-content: center;
    }

    .sobre_mi__div{
        width: 100%;
    }

    .sobre_mi__titulo{
        font-size: 1.5rem;
        margin:1.5rem 0;
    }
    .sobre_mi__parrafo{
        letter-spacing: 0;
    }
}


@media only screen and (max-width: 1025px){
    .sobre_mi__div{
        width: 100%;
    }
}