:root{
  --fondo-pag:#ededed;
  --fondo-gris:#f5f5f5;
  --fondo-azul:#eaf2fd;
  --fondo-gris-img:#ededed;
  --fondo-azul-btn:#2a7ae4;
  --color-letras:#464646;
  --font-rawelay:'Raleway', sans-serif;
  --color-letras-azul:#2A7AE4;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: var(--fondo-gris);
  font-family: var(--font-rawelay);
}